html{
	height: 100%;
}

body {
	position: relative;
	/*overflow-x: hidden;*/
	background: url("../img/bg_img.jpg") center 0 no-repeat;
	background-color: #dde3e3;
    background-size: auto 1060px; /* Масштабируем фон */
    width: 100%;
    height: 100%;
    /*max-width: 1980px;*/
}

.wrapper{
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	margin-top: 1px;
}
/* верхний текст */
.header, .headerTransparent{
	position: absolute;
	overflow: hidden;
	margin-top: 0px;
	margin-left: 0px;
	width: 100%;
	height: 135px;
}

.header{
	position: relative;
}

.headerTransparent{
	background-color: #e8e8e8;
	-webkit-box-shadow: 1px 2px 13px 9px rgba(240,232,240,0.9);
	-moz-box-shadow: 1px 2px 13px 9px rgba(240,232,240,0.9);
	box-shadow: 1px 2px 13px 9px rgba(240,232,240,0.95);
	opacity: 0.7;	
}




.logo{ /*box1*/
	/*логотип каражиры*/
	position: absolute;
	width: 240px;
	height: 107px;
	margin-left: -5px;
	margin-top: 10px;
	background: url("../img/logo_karagira.png") center 0 no-repeat;
	background-size: auto 105px; /* Масштабируем фон */
}


/*нижнее лого*/
.footer{ 
	position: absolute;
	clear: both;
	width: 890px;
	height: 145px;
	margin-left: 3px;
	margin-top: 39%;	
	background: url("../img/logo-centr.png") center 0 no-repeat;
	/*background-size: auto 130px; /* Масштабируем фон */
}


@media (max-width: 1350px) { /*все что меньше этого разрешения обрабатывается тут*/
	.head1{
		min-width: 1331px;
		margin-left: 240px;
	}
}

@media (min-width: 1480px) { /*все что больше этого разрешения обрабатывается тут*/
	
	.logo{
		margin-left: 5%;	
	}
}



@media (min-width: 1922px) {
	.footer{ 
		margin-left: 5%;
	}
}

@media (min-width: 2034px) {
	.footer{ 
		position: relative;
		margin: 0 auto;
		margin-top: 35%;	
	}
}


@media (min-width: 2170px) { 
	
	.logo{
		margin-left: 10%;	
	}
	
	.footer{ 
		position: relative;
		margin: 0 auto;
		margin-top: 30%;	
	}

}

@media (min-width: 2425px) { 
	
	.logo{
		margin-left: 15%;	
	}
}

@media (min-width: 2500px) { 
	.footer{ 
		margin-top: 28%;		
	}
}

@media (min-width: 3000px) { 	
	.footer{ 
		margin-top: 20%;
	}
}

@media (min-width: 2780px) { 
	.logo{
		margin-left: 20%;	
	}
}

@media (min-width: 3250px) { 
	.logo{
		margin-left: 30%;	
	}
		.footer{ 
		margin-top: 19%;	
	}
}

.head1{ 
	display: block;
	width: 100%;
	height: 78px;
	margin: 0 auto;
	margin-top: 14px;
	text-align: center;
	font-family: "Calibri";
	font-weight: bold;
	line-height: 1.2;
    font-style: normal;
    color: #0707ba;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
	font-size: 40px;
}

.p2{
	margin-top: -14px;
	font-size: 25px;
}

body:active{

}






